.modal {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 1000;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 0 50px var(--greyC4);
    padding: 20px 18px;
    border-radius: 10px;
}